- Lambda function also a function

- It is a kond of a single line function

- We already seen list comprehension which means single line

- Lambda functions gives a flexiblity to stop writing many lines

- on iterative execution it will save timimng

In [1]:
def summ(num):
    return(num+10)

summ(20)

30

$Pattern-1$

- function name

- variable name

- return output

In [6]:
# function_name = lambda<variable_name>:<return_output>

summ = lambda num  :num+10
summ(30)

40

In [7]:
def cube(x):
    return(x*x*x)

cube(10)

1000

In [8]:
cube = lambda x : x*x*x
cube(10)

1000

$Pattren-2$

**Two arguments**

In [10]:
def add(n1,n2):
    return(n1+n2)
add(20,30)

50

In [11]:
# function_name = lambda<arg1>,<arg2>:<return_output>

add = lambda n1,n2 : n1+n2
add(20,40)

60

In [16]:
avg = lambda n1,n2,n3 : round((n1+n2+n3)/3,1)
avg(10,20,36)

22.0

$Pattern-3$

**Default Arguments**

In [17]:
avg = lambda n1,n2,n3 = 48 : round((n1+n2+n3)/3,1)
avg(10,20)

26.0

$Pattern-4$

**if**

In [18]:
def greet(n1):
    if n1>10:
        print('hello')

greet(20)

hello

In [19]:
# In list comprehensions             
#<if_out> <if_condition> <else> <else_output> <for loop>
# <for_loop>

# <fun_name> = lambda <arg1>: <if_out> <if_condition> <else> <else_output> 

greet = lambda n1 : 'hello' if n1>10 else 'bye'
greet(20)

'hello'

In [21]:
# Wap lambda function Take two num find the greatest number

greatest_num = lambda n1,n2 : f'{n1} is greatest' if n1>n2 else f'{n2} is greatest'
greatest_num(10,20)

'20 is greatest'

$Pattern-5$

**Using List**

In [22]:
list1 = ['hyd','blr','chennai']
# op = list2=['Hyd','Blr',"Chennai"]

list2 = []
for i in list1:
    list2.append(i.capitalize())

list2

['Hyd', 'Blr', 'Chennai']

- what is the variable name ===> i

- what is the return object ==> i.capitalize()

- from where it is coming ==> list1

**lambda <variable name> : <output>,<iterable>**

- strings are iterables

- list are iterable

- we can iterate by using for loop

In [24]:
list2 = [i.capitalize() for i in list1]
list2

['Hyd', 'Blr', 'Chennai']

In [26]:
list2 = [i.upper() for i in list1]
list2

['HYD', 'BLR', 'CHENNAI']

In [39]:
# lambda <variable name> : <output>,<iterable>
lambda i : i.capitalize(), list1

(<function __main__.<lambda>(i)>, ['hyd', 'blr', 'chennai'])

**map**

In [38]:
list1 = ['hyd','blr','chennai']
list(map(lambda i : i.capitalize(), list1))

['Hyd', 'Blr', 'Chennai']

In [ ]:
# step-1 : create a noemal lambda fumction
#         Lambda <arg>:<output>
# step-2: add the iterable
#         Lambda <arg>:<output>,<list>
# step-3: map the both function and list
#         map(Lambda <arg>:<output>,<list>)
# step-4: save the result in a tuple or list
#         list(map(Lambda <arg>:<output>,<list>))

lambda i : i.capitalize()
lambda i : i.capitalize(), list1)
map(lambda i : i.capitalize(), list1)
list(map(lambda i : i.capitalize(), list1))

In [41]:
print(list(map(lambda i : i.capitalize(), list1)))
print(list(map(lambda i : i.upper(), list1)))
print(list(map(lambda i : i.lower(), list1)))
print(list(map(lambda i : i.center(10,'*'), list1)))

['Hyd', 'Blr', 'Chennai']
['HYD', 'BLR', 'CHENNAI']
['hyd', 'blr', 'chennai']
['***hyd****', '***blr****', '*chennai**']

In [43]:
list1 = ['hyd','blr','che#nnai','mumb#ai']
# op = ['che#nnai','mumb#ai']


#whenever you are applying a condition on list
#write only condition without using if
lambda i: '#' in i,list1

list(map(lambda i: '#' in i,list1))

[False, False, True, True]

**filter method**

In [44]:
list(filter(lambda i: '#' in i,list1))

['che#nnai', 'mumb#ai']

In [47]:
list1 = ['hyd','blr','chennai','mumbai']
list2 = ['hyd','blr']# len(i)<=3

list(filter(lambda i : len(i)<=3,list1))

['hyd', 'blr']