**Dictionary**

- Dictionary is represents with curly braces

- Strings using quotes

- List using square brackets

- type using paranthesis

- Dictionary is always a pair key and value

In [2]:
name = ['manish','shubham','govindh']
age = [25,20,15]
for i,j in zip(name,age):
    print(f"the {j} of {i} is {age}")

the 25 of manish is [25, 20, 15]
the 20 of shubham is [25, 20, 15]
the 15 of govindh is [25, 20, 15]

In [5]:
# {<key>:<value>}
dict1 = {'manish':25 ,'shubham':20, 'govindh':1}
dict1

{'manish': 25, 'shubham': 20, 'govindh': 1}

In [6]:
type(dict1)

dict

In [ ]:
Quotes for 25??

In [ ]:
d1 = {'manish':25 ,'shubham':20, 'govindh':15}
d2 = {'manish':'25' ,'shubham':'20', 'govindh':'15'}
d3 = {25:'manish' ,20:'shubham', 15:'govindh'}
d4 = {25:50}
d5 = {'Fruites':['Apple','Cherry']}
d6 = {['Apple','Cherry']:'Fruites'}
d7 = {'Ajay':25,'Ajay':30}
d8 = {25:'Ajay',30:'Ajay'}

In [12]:
d1

{'manish': 25, 'shubham': 20, 'govindh': 15}

In [13]:
d2

{'manish': '25', 'shubham': '20', 'govindh': '15'}

In [14]:
d3

{25: 'manish', 20: 'shubham', 15: 'govindh'}

In [15]:
d4

{25: 50}

In [16]:
d5

{'Fruites': ['Apple', 'Cherry']}

In [26]:
d6 = {['Apple','Cherry']:'Fruites'}
d6

TypeError: unhashable type: 'list'

In [30]:
d6 = {('Apple','Cherry'):'Fruites'}
d6

{('Apple', 'Cherry'): 'Fruites'}

In [27]:
d7 = {'Ajay':25,'Ajay':30}
d7

{'Ajay': 30}

In [28]:
d8 = {25:'Ajay',30:'Ajay'}
d8

{25: 'Ajay', 30: 'Ajay'}

In [ ]:
d9 = 25:'Ajay,30:{'

- **keys are important**

- Keys have only latest value

- No duplicate keys

- Keys should be only one

- Values can be duplicate

- which means different keys can have same value

- List cannot be a key

- Tuple can be a key

In [ ]:
- min 

- max

- len

- sorted

- reversed

In [33]:
dc1= {'manish':25 ,'shubham':20, 'govindh':15}
min(dc1)

'govindh'

In [34]:
dc1= {'manish':25 ,'shubham':20, 'govindh':15}
max(dc1)

'shubham'

In [35]:
dc1= {'manish':25 ,'shubham':20, 'govindh':15}
len(dc1)

3

In [36]:
dc1= {'manish':25 ,'shubham':20, 'govindh':15}
sorted(dc1)

['govindh', 'manish', 'shubham']

In [39]:
dc1= {'manish':25 ,'shubham':20, 'govindh':15}
for i in reversed(dc1):
    print(i,end=' ')

govindh shubham manish

**indexing**

In [1]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
d1['Manish']

25

**keys are important**

- dictionary is a key value pair

- There is no concept of index as numbers

- If you want to retrive any value,we need to provide key as index

- we can access values using only coreesponding **keys**

In [2]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
print(d1['Manish'])
print(d1['Shubham'])
print(d1['Govindh'])

25
20
15

In [8]:
for i in d1:
    print(f"{i} age is {d1[i]}")

Manish age is 25
Shubham age is 20
Govindh age is 15

In [15]:
d1 = {'Fruites':{'Apple':['Kashmir']}}
d1['Fruites']['Apple'][0]

'Kashmir'

In [18]:
d1 = {'Fruites':{'Apple':[{'Kashmir':'india'},{'Hyd':'TS'}]}}
d1['Fruites']['Apple'][0]['Kashmir']

'india'

In [23]:
d1['Fruites']['Apple'][1]['Hyd']

'TS'

In [28]:
d1 ={'Fruites':{'Mango':{'Benganpalli':{'Nagpur market':{'MH':{'Shivaji':'the boss'}}}}}}
d1['Fruites']['Mango']['Benganpalli']['Nagpur market']['MH']['Shivaji']

'the boss'

In [29]:
len(d1)

1

**How to create empty dictionary**

- It is very important to know how to make empty list

- How to make empty string

- How to make empty dictionary

In [31]:
str1 = 'python'
str2 = ''
for i in str1:
    str2 = str2 + i
str2

'python'

In [32]:
l1=[1,2,3,4]
l2=[]
for i in l1:
    l2.append(i)

l2

[1, 2, 3, 4]

In [34]:
d = {}
d["Ramesh"]=50
d["suresh"]=100
d["satish"]=150
d['Manish']=200
d

{'Ramesh': 50, 'suresh': 100, 'satish': 150, 'Manish': 200}

**Convert string to list**

In [39]:
#split:convert string to list
str1 = 'hi how are you'
l=str1.split()
l

['hi', 'how', 'are', 'you']

**join: convert list to string**

In [44]:
l= ['hi', 'how', 'are', 'you']
new_str=' '.join(l)
new_str

'hi how are you'

**we have two lists to convert into dictionary**

In [46]:
name= ['Ramesh','Sursh','Manish']
age=[25,30,35]
d={}
for i,j in zip(name,age):
    d[i]=j

d

{'Ramesh': 25, 'Sursh': 30, 'Manish': 35}

In [47]:
str1 = 'hello python'
l = str1.split()
l

['hello', 'python']

In [48]:
l = ['hello', 'python']
new_str = ' '.join(l)
new_str

'hello python'

In [52]:

age = [25,30]
name = ['Ajay','Ajay']
d={}
for i,j in zip(age,name):
    d[i]=j

d

{25: 'Ajay', 30: 'Ajay'}

In [53]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**items-keys-values**

- items means both keys and values come together

- keys means only dictionary keys

- values means only dictionary keys

In [56]:
d = {'Manish':25,'Shubham':20,'Govindh':15}
it = d.items()
it

dict_items([('Manish', 25), ('Shubham', 20), ('Govindh', 15)])

In [57]:
type(it)

dict_items

In [58]:
items_list=list(it)

[('Manish', 25), ('Shubham', 20), ('Govindh', 15)]

**Create a list using items**

In [60]:
d = {'Manish':25,'Shubham':20,'Govindh':15}
it = d.items()
items_list=list(it)
name=[]
age=[]
for i in items_list:
    name.append(i[0])
    age.append(i[1])

print(name)
age

['Manish', 'Shubham', 'Govindh']

[25, 20, 15]

In [128]:
import string
l = string.ascii_lowercase
l1 = list(l)
# l2 = string.digits
# l3 = list(l2)
l4 = []
d = {}
for i in range(1,27):
    l4 = l4 + [i]
for j,k in zip(l1,l4):
    d[j]=k

d
str1 = input("Enter a string: ")
for i in str1:
    print(d[i],end=' ')



# step-1: create lowercase letters list using string package
# step-2: create a digit list 1 to26
# step-3: craete dictionary {'a':1,'b':2.....'z':26}
# step-4: enter a string: hai
# step-5: output: 8-1-9

Enter a string:  hello

8 5 12 12 15

In [111]:
#for i in range(1,27):
    
# str1 = string.ascii_lowercase
# str2 = string.digits
# l1 = str1.split()
# l2 = str2.split()
# l3=[]
# d = {}

# for i in range(1,27):
#     l3=l3+[i]
# for j,k in zip(l1,l3):
#     d[j]=k

NameError: name 'dictionary' is not defined

In [121]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']